body{
    font-family: 'Roboto Slab', serif, sans-serif, Arial, Helvetica;
}
:root{
    --main-blue-color: rgb(50, 60, 255);
    --main-grey-color: rgb(221, 221, 221);
    
}

*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1.2fr 4fr;
    grid-template-rows: 1fr 5fr;

}

.sidebar{
    background-color: var(--main-blue-color); 
    color: white;
    grid-column: 1/2;
    grid-row: 1/3;

}

.sidebarGrid{
    display: grid;
    grid-template-rows: 1fr 30% 30% 1fr;
    justify-items: center;
    align-items: center;
    gap: 5px;
}

.sidebar ul{
    list-style-type: none;
    margin-left: 10%;
    justify-self: stretch;
    display: grid;
    align-items: center;
    gap: 1rem;
}

.sidebar ul li {
    display: flex;

}


.sidebar img{
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(187deg) brightness(109%) contrast(101%);
    margin-right: 20px;
}

.sidebar img:hover{
    filter: invert(25%) sepia(98%) saturate(3845%) hue-rotate(226deg) brightness(99%) contrast(103%);
    cursor: grab;
}


.title{
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
}

.title img{
    max-height: 3rem;
    margin-bottom: 10px;

}

.sidebar li img{
    max-height: 1.5rem;
}



.main-content{
    background-color: var(--main-grey-color);
}

img[src="./icons/house.jpg"]{
    object-fit: cover;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.header div .svg{
    max-width: 20px;
}

.hithere img[src="./icons/house.jpg"]{
    object-fit: cover;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.header{
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 60% 40%;
    margin-left: 20px;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: start;
    padding: 25px;
    row-gap: 15px;

}

.searchbar{

    justify-self: stretch;
    display: flex;
    gap: 20px;
    align-items: center;

}

.belltime{
    justify-self: end;
    display: flex;
    gap: 35px;
    align-items: center;
    margin-right: 70px;
    margin-left: 60px;
}

.hithere{
    display: flex;
    gap: 20px;
    align-items: center;
    
}



input[type="search"]{
    border: none;
    border-radius: 20px;
    height: 2rem;
    background-color: var(--main-grey-color);
    width: max(100px, 90%);
    
}

input[type="search"]:focus{
    border: var(--main-blue-color);
}




.header button{
    border: none;
    border-radius: 18px;
    background-color: var(--main-blue-color);
    padding: 9px 17px;
    font-size: 1rem;
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
    color: white;
}
.header button:hover{
    color: var(--main-grey-color);
    cursor: grab;

}

.buttons{
    display: flex;
    gap: 15px;
}